{{define "login.html"}}
  <!DOCTYPE html>
  <html>
    {{template "head.html" .}}
    <body>
        <main id="login">
            <section>
                <h1>Login!</h1>
                <form hx-post="/login" hx-target="#messages" hx-swap="innerHTML">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>

                    {{if eq .authMethod "atproto"}}
                        <!-- Add server field if using AT Protocol -->
                        <label for="server">AT Server</label>
                        <input type="text" id="server" name="server">
                    {{end}}

                    <button type="submit">Login</button>
                </form>
                
                {{if eq .authMethod "auth0"}}
                    <p>Don't have an account? <a href="/register">Sign Up</a></p>
                {{end}}
                <span id="messages"></span>
            </section>
        </main>
    </body>
  </html>
{{end}}
