{{define "manageButtons.html"}}
<div id="action" style="margin-top: 20px; display: flex; gap: 10px;">
    <button hx-trigger="click" hx-post="/preview" hx-target="#action" hx-swap="innerHTML" hx-include="form#previewForm">
        Save Draft
    </button>
    {{if eq (index . "status") "unpublished"}}
    <button hx-trigger="click" hx-post="/publish" hx-target="#action" hx-include="form#publishForm">
        Publish Live
    </button>
    {{end}}
    <span>{{index . "message"}}</span>
    <span>Status: {{index . "status"}}</span>
</div>
{{end}}