package views



templ Root() {
    <!DOCTYPE html>
    <html>
        <head>
            <script src="/static/htmx.min.js"></script>
            <style>
                body {
                    margin: 0;
                    padding: 0;
                }
            </style>
            <title>Dream Friday - Admin</title>
        </head>
        <body>
           <header> --Header--</header>
           { children... }
        </body>
    </html>
}