package views



templ Root() {
    
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="/static/dreamfriday.css">
            <script src="/static/htmx.min.js"></script>
            <title>Dream Friday - Admin</title>
        </head>
        <body>
           <header>
                <a href="/">Dream Friday</a>
           </header>
           { children... }
        </body>
    </html>
}